<h2>Credentials</h2>

<P>
<B>Do not store this information where it could be stolen.</B>
</P>
<P>
URL: <a href="https://015649787300.signin.aws.amazon.com/console">
https://015649787300.signin.aws.amazon.com/console  </a> <br/>
nathan_reardon &nbsp; &nbsp;  ************
</P>
<P>
&nbsp;
</P>
<hr>
<pre>
import socket
import time

sock = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
sock.sendto('X', ('aws1.donlaw.com', 1789))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 4988))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 31099))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 8107))
</pre>
<hr>
<P>
&nbsp;
</P>
<P>
Windows wiki unlock: <br>
<a href="cygwin1">cygwin1.dll</a> <br>
<a href="openmawiki">openmawiki.exe</a>
</P>
