<h2>Access</h2>

<P>
<B>Do not store this information where it could be stolen.</B>
</P>
<P>

<h4>AWS</h4>
Account: 015649787300 <br>
URL: <a href="https://us-west-2.console.aws.amazon.com/console/home?region=us-west-2">
https://us-west-2.console.aws.amazon.com/console/home?region=us-west-2</a> <br/>
nathan@salientsoftware.net &nbsp; &nbsp;  MArox971/SEOslnt
</P>
<P>
AWS server:
<pre>
2GB: i-0245c6df7d4339b30
vol-405b6280 6 GiB  /dev/sdb
vol-3f5861ff 8 GiB  root
root password Yq,7e-78RFGui
mysql root password j@ui85Jal
mysql wpmaprod database user wpmaprod password LyteMAX-TmKo93
mysql wpma1 database user tsavoca password TmKo93-LyteMAX
mysql ft_development database user dlaw password tkfu0794
mysql ft_production database user deployer password OhS22Mugch-trngR
Erik wordpress database  user weba password Carz-9711-ntHN-1775
maadmin password   TmKo93-LyteMAX
LUKS password:  M39k-569Q-rwi2-3076-arwt
At 52.34.172.113 using Elastic IP eipalloc-14c81e70
MFA nathan_reardon password wpYUvaylL678

ec2_user private SSH key:
-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAvNjNPRfZJ5Iam7Ys9v3YhVeUaFI673AtVeVMLNhwkMgHH4bRHm5Ms+cqaCEg
5N8EkkTd/1XxOzZjOwAvLkX6q+p7xTuljqoCzy9slHNBbyLH7IGudhiH+XFPLzOZqtx55aJ1G6HR
yPqwg4uLc3suUMwIWDYVoQhoQ4FwUhAdHHzXzd1IrgyKk+Id3IxYJwKDyqIdyoM6MpCHpKwhJYyP
+RgoSsPEepzIPTtlXN02H+4pG6kM6lrzVk1RkMwlcJM+7+S6lk2g9YCjtc5pqSw5qaY94qVGRchV
ppefdmwoCi3cu5iATF3NI/SQzYf28flMMU+68gl0Cf82OsLbpfsfJQIDAQABAoIBAH+ZlgPjq0z7
gZMY4wT4vGZMqPBcL4o9p8RULMZYcKbDIV0CASaorJcaaSL2z30V28bhVYcDkP3LX/0rwLVpf1jO
FVdNWC4vXbqUdq9PuTTYsXFypmkRZj77et+P5BL46jxpKuvCyTcdfEtF7LHY15CsbC7+TFsEjT6f
pT8tuB3Ya+1YaZoS1I/LJ1h7e1eCWjbQP9cn8QJbovsOs722DSVC3x9+eLvGMAfL8h+qEn2D4R9Z
dT+0BMjQDg1y/iDtByKB9iQBOuYdf6fOwbAPRz96yPj94NpV63b4UBoehgHUCZD7AOpLGMgtM46z
kv/GAOsoS6Znx8+dOVBhuEjVwnkCgYEA3QQJOWEgwA2kh8hNLzGZmM2rfglk5Ug51qlt8UBYuJhW
xJZg4/iI0J9rWPEhe/Pnu9OzejX2CCaIpags4MqUBOCmghLocUfqdp8Gc8QYHoe7x97yIiImzC3r
iT2y+5z8oVRL1r/e4FZOvCcuPlhhJYoYWrgaZEtR5mVA8eJ3LRcCgYEA2r05OVx1Txf5EsHNkshC
z3CqCx0HNMsvqTUjEahZ/ehJw5yJH6XwVV/6VQi5e7cMLmMI4+Bnh2k6UvaMcn5GIFAlsYYpivo7
BUXHgD5+11miWysNgz/E4kyQQBAZ+84hSotQBwuZgxIVu1Q6kAI3JrRMOsKyDsnl4XCY/8Zq0yMC
gYEAuShAcgmk3kCPrhFoWDk9bH4hRZ2pIUy459VZfdtieINnbZpt4Y69T8m+rOyWGLnlUb2xhpje
XUWrBN03e7s69jseQ6qDgSO2kVn4ldOaQTmFX5SvVVk3F6cAxCEkaRbDroRoZKipl1e27noEi8aO
3FwsuxOxSISxQEtjdUE8hlECgYAdrabh/YV9IceNn/YAgGNwOd0YfOvJYfgpgSgs8SakqKu5erew
L5eYPdl9SB3Ch2eDs7Q1FvF1EfXz47fSoQdqwvUaTRW94Y24fWtAHzqehW7d582BjVltSu4XgxfD
bohd0OEe05gUjJOeQyNe/q309mmRX3FBSGuEVv6rVYSQ+QKBgFjZPp/cjX4Xmxeo0S0gk87864R4
rxRMUuWryJthrVaZ+of5eznGioyaSHds6OVqh8XEayVAqkhNNpM1GjjAOZU4Q5IolnkfZxHs5Cb/
8DRJ9WpN3UJ5cDhTU34hyQE2z1chfigHbew38MZMaffrBzQtIJLw3pbq5cYeS9s1iJ3A
-----END RSA PRIVATE KEY-----

Script to start Futuretech (run as rails user):  /home/rails/bin/devsrvd
</pre>
</P>

<h4>Fastmail</h4>

<pre>
User  masteruser@membershipauto.com  password  O98moog/MA
</pre>

<h4>git repo</h4>

<a href="/binaries/ft.git.repo.tgz">ft.git.repo.tgz</a>

<!-- 
<h4>Wiki</h4>
<hr>
<pre>
import socket
import time

sock = socket.socket(socket.AF_INET, socket.SOCK_DGRAM)
sock.sendto('X', ('aws1.donlaw.com', 1789))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 4988))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 31099))
time.sleep(0.2)
sock.sendto('X', ('aws1.donlaw.com', 8107))
</pre>
<hr>
<P>
&nbsp;
</P>
<P>
Windows wiki unlock: <br>
<a href="cygwin1">cygwin1.dll</a> <br>
<a href="openmawiki">openmawiki.exe</a>
</P>
-->

