<h2>Database tables</h2>

<P>
<B>Be careful!  You have a lot of power to mess things up.</B>
</P>
<a href="/automatic_data_link_infos">automatic_data_link_infos</a><br>
<a href="/bg_system_covereds">bg_system_covereds</a><br>
<a href="/bg_systems">bg_systems</a><br>
<a href="/breakdowns">breakdowns</a><br>
<a href="/code_histories">code_histories</a><br>
<a href="/colors">colors</a><br>
<a href="/contracts">contracts</a><br>
<a href="/counties">counties</a><br>
<a href="/countries">countries</a><br>
<a href="/customers">customers</a><br>
<a href="/cylinder_compressions">cylinder_compressions</a><br>
<a href="/employees">employees</a><br>
<a href="/engine_displacements">engine_displacements</a><br>
<a href="/finance_agreements">finance_agreements</a><br>
<a href="/gas_mileages">gas_mileages</a><br>
<a href="/images">images</a><br>
<a href="/insurance_companies">insurance_companies</a><br>
<a href="/inventories">inventories</a><br>
<a href="/invoice_line_items">invoice_line_items</a><br>
<a href="/invoices">invoices</a><br>
<a href="/line_item_purposes">line_item_purposes</a><br>
<a href="/makes">makes</a><br>
<a href="/manufacturer_warranties">manufacturer_warranties</a><br>
<a href="/manufacturer_warranty_types">manufacturer_warranty_types</a><br>
<a href="/models">models</a><br>
<a href="/non_ma_maintenances">non_ma_maintenances</a><br>
<a href="/part_manufacturers">part_manufacturers</a><br>
<a href="/part_names">part_names</a><br>
<a href="/parts">parts</a><br>
<a href="/payment_methods">payment_methods</a><br>
<a href="/payments">payments</a><br>
<a href="/payment_types">payment_types</a><br>
<a href="/qualifications">qualifications</a><br>
<a href="/referred_bies">referred_bies</a><br>
<a href="/regions">regions</a><br>
<a href="/salespeople">salespeople</a><br>
<a href="/scheduled_appointments">scheduled_appointments</a><br>
<a href="/scheduled_service_items">scheduled_service_items</a><br>
<a href="/scheduled_services">scheduled_services</a><br>
<a href="/service_categories">service_categories</a><br>
<a href="/service_descriptions">service_descriptions</a><br>
<a href="/service_journals">service_journals</a><br>
<a href="/service_journals_events">service_journals_events</a><br>
<a href="/service_line_items">service_line_items</a><br>
<a href="/service_parts">service_parts</a><br>
<a href="/service_schedules">service_schedules</a><br>
<a href="/service_visits">service_visits</a> <font color="#800000"><i>In progress</i> </font> <br>
<a href="/states">states</a><br>
<a href="/stores">stores</a><br>
<a href="/submodels">submodels</a><br>
<a href="/technicians">technicians</a><br>
<a href="/tire_td_readings">tire_td_readings</a><br>
<a href="/ts_band_recalls">TSB and_recalls</a><br>
<a href="/upgrades">upgrades</a><br>
<a href="/upgrade_types">upgrade_types</a><br>
<a href="/vehicles">vehicles</a><br>
<a href="/wheel_drives">wheel_drives</a><br>
<a href="/written_testimonies">written_testimonies</a><br>
