<h2>Ground Floor Service Visit Entry Interface</h2>
<hr>
<form action="/customers/gfnew" style="display: inline;">
  <input type="submit" value="Add New Customer">
</form>
<form action="/vehicles/gfnew" style="display: inline;">
  <input type="submit" value="Add New Vehicle"> 
</form>
