<h2>Ground Floor Service Visit Entry Interface</h2>
<hr>
<table border="0">
  <tr>
    <td><form action="/customers/gfnew" style="display: inline;">
      <input type="submit" value="Add New Customer">
    </form></td>
    <td><form action="/customers/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Customers">
    </form></td>
    <td><form action="/customers/gfsearch1" style="display: inline;">
      <input type="submit" value="Search Customers">
    </form></td>
    <td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
    <td><form action="/contracts/gfnew" style="display: inline;">
      <input type="submit" value="Add New Contract"> 
    </form></td>
    <td><form action="/contracts/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Contracts">
    </form></td>
  </tr>
  <tr>
    <td><form action="/vehicles/gfnew" style="display: inline;">
      <input type="submit" value="Add New Vehicle">
    </form></td>
    <td><form action="/vehicles/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Vehicle">
    </form></td>
    <td><!--<form action="/vehicles/gfsearch1" style="display: inline;">
      <input type="submit" value="Search Vehicle">
    </form>--></td>
  </tr>
</table>
<hr>
<table border="0">
  <tr>
    <td><form action="/models/gfnew" style="display: inline;">
      <input type="submit" value="Add New Model">
    </form></td>
    <td><form action="/models/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Models">
    </form></td>
    <td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
    <td><form action="/submodels/gfnew" style="display: inline;">
      <input type="submit" value="Add New Submodel"> 
    </form></td>
    <td><form action="/submodels/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Submodels">
    </form></td>
  </tr>
  <tr>
    <td><form action="/parts/gfnew" style="display: inline;">
      <input type="submit" value="Add New Part">
    </form></td>
    <td><form action="/parts/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Parts">
    </form></td>
    <td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
    <td><form action="/part_names/gfnew" style="display: inline;">
      <input type="submit" value="Add New Part Name"> 
    </form></td>
    <td><form action="/part_names/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Part Name">
    </form></td>
  </tr>
  <tr>
    <td><form action="/part_manufacturers/gfnew" style="display: inline;">
      <input type="submit" value="Add New Part Manufacturers">
    </form></td>
    <td><form action="/part_manufacturers/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Part Manufacturers">
    </form></td>
    <td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
    <td><form action="/employees/gfnew" style="display: inline;">
      <input type="submit" value="Add New Employees">
    </form></td>
    <td><form action="/employees/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Employees">
    </form></td>
  </tr>
  <tr>
    <td><form action="/technicians/gfnew" style="display: inline;">
      <input type="submit" value="Add New Technicians">
    </form></td>
    <td><form action="/technicians/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Technicians">
    </form></td>
    <td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
    <td><form action="/technicians/gfnew" style="display: inline;">
      <input type="submit" value="Add New Technicians">
    </form></td>
    <td><form action="/technicians/gfindex" style="display: inline;">
      <input type="submit" value="List/Edit Technicians">
    </form></td>
  </tr>
</table>
