<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer_warranty_type.name %>
</p>


<%= link_to 'Edit', edit_manufacturer_warranty_type_path(@manufacturer_warranty_type) %> |
<%= link_to 'Back', manufacturer_warranty_types_path %>
