<!DOCTYPE html>
<html>
<head>
  <title>BG Paperwork</title>
</head>
<body>

<H2>BG Paperwork</H2>
<a href="internal_veh">Back</a> <br>
Document 1 <br>
Document 2 <br>
Document 3 <br>
Document 4 <br>

</body>
</html>
