<!DOCTYPE html>
<html>
<head>
  <title>Membership Classifications</title>
</head>
<body>

<H2>Membership Classifications</H2>
<%= image_tag("mockup/Classifications1.png") %>
<br>
<%= image_tag("mockup/Classifications2.png") %>

</body>
</html>
