<!DOCTYPE html>
<html>
<head>
  <title>Membership Contract</title>
</head>
<body>

<H2>Membership Contract</H2>
<%= image_tag("mockup/MemberContract1.png") %>
<br>
<%= image_tag("mockup/MemberContract2.png") %>

</body>
</html>
