
<div class="mockframe">
  <B>Analytics Mockup pages: </B>
  &nbsp; &nbsp; <a href="internal_veh">Single Vehicle Internal</a>
  &nbsp; &nbsp; <a href="multi_veh">Multi Vehicle</a>
  &nbsp; &nbsp; <a href="store">Store</a>
  &nbsp; &nbsp; <a href="softwareprinc">Software Principles</a>
</div>

<div class="custnavframe">
  <font color="#FFFFE8">
    <B><I>MEMBERSHIP AUTO</I></B>
    &nbsp; &nbsp; &nbsp; &nbsp;
    Home &nbsp; | &nbsp; My Account &nbsp; | &nbsp; Appointments
    &nbsp; | &nbsp; Help
  </font>
</div>

<div class="vehtopframe">
  <div class="custbox">
    <div class="boxhdr">
      <B>My Name and Address</B>
    </div>
    <div class="custbox2">
      <table border="1">
	<tr><td>Lucy Jackson</td><tr>
	<tr><td>123 Main Street</td><tr>
	<tr><td>West Palm Beach, FL  32123</td><tr>
	<tr><td>(561) 555-1234 </td><tr>
	<tr><td>Member since Feb 2, 2014</td><tr>
	<tr><td>ID# FL-9022-4811</td><tr>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>My Vehicles</B>
    </div>

    <div class="carbox2">
      <table border="1" style="width:100%">
	<tr bgcolor="#fffff0">
	  <th><font color="#006040">
	    <center>2011 Toyota Matrix ES</center>
	  </font></th>
	</tr>
	<tr><td>Light blue</td></tr>
	<tr><td>53,488 miles</td></tr>
	<tr><td>VIN 1234-5678-4321-9876 </td></tr>
	<tr><td>FL Lic Plate D12 E34</td></tr>
	<tr><td>Date of Manufacture: May 15 2010</td></tr>
	<tr><td>2.5L V6 engine</td></tr>
	<tr><td>Entry gas mileage 13.5 mpg </td></tr>
	<tr><td>Gas mileage after initial service 16.2 mpg </td></tr>
	<tr><td>Latest mileage (Oct 1, 2014) 16.0 mpg, down 0.2</td></tr>
	<tr><td>Average Miles per year 12,544 miles </td></tr>
	<tr><td>Level 1 $29.99/month</td></tr>
	<tr><td>Contract expires Jun 15, 2025 </td></tr>
      </table>
      <table border="1" style="width:100%">
	<tr bgcolor="#fffff0">
	  <th><font color="#006040">
	    <center>2013 Honda Accord SX</center>
	  </font></th>
	</tr>
	<tr><td>Black</td></tr>
	<tr><td>35,088 miles</td></tr>
	<tr><td>VIN 1234-5678-4321-9876 </td></tr>
	<tr><td>FL Lic Plate D88 334</td></tr>
	<tr><td>Date of Manufacture: Mar 15 2012</td></tr>
	<tr><td>2.0L V4 engine</td></tr>
	<tr><td>Entry gas mileage 12.5 mpg </td></tr>
	<tr><td>Gas mileage after initial service 14.2 mpg </td></tr>
	<tr><td>Latest mileage (Oct 1, 2014) 14.4 mpg, up 0.2</td></tr>
	<tr><td>Average Miles per year 10,454 miles </td></tr>
	<tr><td>Level 2 $39.99/month</td></tr>
	<tr><td>Contract expires Mar 15, 2027 </td></tr>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>Referrals</B>
    </div>
    <div class="carbox2">
      <table border="1">
	<tr><td><B>3 customers referred</B></td></tr>
	<tr><td>&nbsp;&nbsp;Jack Sparrow</td></tr>
	<tr><td>&nbsp;&nbsp;James Dean</td></tr>
	<tr><td>&nbsp;&nbsp;Carrie Fisher</td></tr>
	<tr><td><B>$49.99 credit used</B></td></tr>
	<tr><td><B>$99.98 credit unused</B></td></tr>
      </table>
    </div>
  </div>

  <div class="carbox">
    <div class="boxhdr">
      <B>Finance Agreement</B>
    </div>
    <div class="carbox2">
      <center>
      <table border="1">
	<tr>
	  <td>Missed Payments</td>
	  <td>0</td>
	</tr>
	<tr>
	  <td>Total Principal</td>
	  <td>$800.00</td>
	</tr>
	<tr>
	  <td>Finance Fee</td>
	  <td>$80.00</td>
	</tr>
	<tr>
	  <td>Remaining Principal</td>
	  <td>$440.00</td>
	</tr>
	<tr>
	  <td>Monthly Payment</td>
	  <td>$88.00</td>
	</tr>
	<tr>
	  <td>Start Date</td>
	  <td>Mar 1, 2014</td>
	</tr>
	<tr>
	  <td>End Date</td>
	  <td>Jan 1, 2015</td>
	</tr>
      </table>
      </center>
    </div>
  </div>

  <div class="endfloat">
  </div>
</div>


<div class="vehhistframe">

  <div class="payhistbox">
    <div class="boxhdr">
      <B>My Payments</B>
    </div>
    <div class="payhistbox2">
      <center>
      <table border="1">
	<tr>
	  <td>Premuims Paid To Date:</td>
	  <td>$998.90</td>
	</tr>
	<tr>
	  <td>Next Payment:</td>
	  <td>$69.98 on Dec 1, 2014</td>
	</tr>
	<tr>
	  <td>Next Scheduled Service:</td>
	  <td>2011 Toyota Matrix, Dec 19, 2014</td>
	</tr>
	<tr>
	  <td>Next Scheduled Service:</td>
	  <td>2013 Honda Accord, Jan 9, 2015</td>
	</tr>
      </table>
      </center>
    </div>
  </div>

  <div class="payhistbox">
    <div class="boxhdr">
      <B>My Benefits</B>
    </div>
    <div class="payhistbox2">
      <center>
      <table border="1">
	<tr>
	  <td>Scheduled Service Completed:</td>
	  <td>$819.90</td>
	</tr>
	<tr>
	  <td>Repairs Completed:</td>
	  <td>$411.10</td>
	</tr>
	<tr>
	  <td>Estimated Likelyhood That <br>
	      Breakdowns Were Prevented:</td>
	  <td>75%</td>
	</tr>
	<tr>
	  <td>Estimated Fuel Savings:</td>
	  <td>$232.22</td>
	</tr>
	<tr>
	  <td>Total Benefits To Date:</td>
	  <td>$1463.22</td>
	</tr>
	<tr>
	  <td>Total Savings To Date:</td>
	  <td>$464.32</td>
	</tr>
      </table>
      </center>
    </div>
  </div>

  <div class="endfloat">
  </div>
</div>

</body>
</html>
