<!DOCTYPE html>
<html>
<head>
  <title>Vehicle Insurance</title>
</head>
<body>

<H2>Vehicle Insurance</H2>
<%= image_tag("mockup/inspolicy.jpg") %>
<P>&nbsp;</P>
<a href="internal_veh">Back</a>

</body>
</html>
