<!DOCTYPE html>
<html>
<head>
  <title>Finance Agreement</title>
</head>
<body>


<center>
<H2>Finance Agreement</H2>
</center>

<%= image_tag("mockup/LoanAgrmntLucy1.png") %><br>
<%= image_tag("mockup/LoanAgrmntLucy2.png") %><br>
<%= image_tag("mockup/LoanAgrmntLucy3.png") %><br>

</body>
</html>
