<div class="navframe">
  <font color="#000080">
    <B>Analytics:</B> &nbsp;
    Search Vehicles &nbsp; | &nbsp; All Vehicles &nbsp; 
    | &nbsp; Search Customers &nbsp; | &nbsp; Stores &nbsp; 
    | &nbsp; Demographics &nbsp; | &nbsp; Help
  </font>
</div>

<div class="mockframe">
  <B>Analytics Mockup pages: </B>
  &nbsp; &nbsp; <a href="internal_veh">Single Vehicle Internal</a>
  &nbsp; &nbsp; <a href="multi_veh">Multi Vehicle</a>
  &nbsp; &nbsp; <a href="store">Store</a>
  &nbsp; &nbsp; <a href="softwareprinc">Software Principles</a>
</div>

<div class="storeframe">

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; Contracts Store #4343&nbsp;</B>
    </div>
    <div class="gendatabox2">
      <table border="1">
	<tr>
	  <td>Current:</td>
	  <td>1250</td>
	</tr>
	<tr>
	  <td>Lapsed:</td>
	  <td>110</td>
	</tr>
	<tr>
	  <td>Capacity:</td>
	  <td>2000</td>
	</tr>
	<tr>
	  <td>Break Even:</td>
	  <td>1000</td>
	</tr>
	<tr>
	  <td>Average Contract:</td>
	  <td>$55.59/month</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; Contracts All Stores &nbsp;</B>
    </div>
    <div class="gendatabox2">
      <table border="1">
	<tr>
	  <td>Current:</td>
	  <td>2,188,019</td>
	</tr>
	<tr>
	  <td>Lapsed:</td>
	  <td>27,111</td>
	</tr>
	<tr>
	  <td>Capacity:</td>
	  <td>3,981,010</td>
	</tr>
	<tr>
	  <td>Average Contract:</td>
	  <td>$50.19/month</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; Avg. Contracts Per Store &nbsp;</B>
    </div>
    <div class="gendatabox2">
      <table border="1">
	<tr>
	  <td>Current:</td>
	  <td>1340.3</td>
	</tr>
	<tr>
	  <td>Lapsed:</td>
	  <td>92.75</td>
	</tr>
	<tr>
	  <td>Capacity:</td>
	  <td>2130</td>
	</tr>
	<tr>
	  <td>Break Even:</td>
	  <td>970</td>
	</tr>
      </table>
    </div>
  </div>

  <div class="genitembox">
    <div class="boxhdr">
      <B>&nbsp; TODO &nbsp;</B>
    </div>
    <div class="gendatabox2">
      Per store daily, weekly, monthly, etc.  car count.  
      Store level and national averages.
    </div>
  </div>


  <div class="endfloat">
  </div>
</div>

</body>
</html>
