<!DOCTYPE html>
<html>
<head>
  <title>Video Testimony</title>
</head>
<body>

<H2>Video Testimony</H2>
<a href="internal_veh">Back</a>
<P>&nbsp;</P>
<%= image_tag("mockup/youtubegen.jpg") %>

</body>
</html>
