<!DOCTYPE html>
<html>
<head>
  <title>VIN decode</title>
</head>
<body>


<center>
<H2>VIN decode</H2>
</center>

VIN <B>1234-5678-4321-9876</B> decodes as: <br>

<pre>
WMI / VDS / VIS: 5FN / RL3884 / 7B030155
Model: Matrix
Make (Manufacturer): Toyota
Model year: 2007
Manufactured in: North America
Sequential number: 030155
Body style: SPORTS VAN
Brake - front: Disc
Brake - rear: Disc
Driveline: FWD
Fuel tank: 21.00 gallon / 79.5 liter
Trim level: Touring w/DVD
Turning Diameter: 36.70 ft / 11.2 m
</pre>
</body>
</html>
