<!DOCTYPE html>
<html>
<head>
  <title>Maintenance Records (not Membership Auto)</title>
</head>
<body bgcolor="#F0FFF0">

<H2>Pep Boys - Dec 10, 2007 - Battery replacement</H2>
<%= image_tag("mockup/vwmaint3.jpg") %>
<P>&nbsp;</P>
<a href="nonMaMaint">Back</a>
</body>
</html>
