<h2 align="center"> <B> Profit Loss statistics of Payment Plans </B></h2>

<%= render :partial => 'search_form_for_plan_vehicles',
           :locals => { :target_cm => 'analytics/int2',
                        :target_label => 'View', :isGroundFloor => true } %>             