<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service_journals_event.name %>
</p>


<%= link_to 'Edit', edit_service_journals_event_path(@service_journals_event) %> |
<%= link_to 'Back', service_journals_events_path %>
