<h2 align="Center"> Single Store Statistics</h2>

<%= render :partial => 'search_form_for_single_store',
           :locals => { :target_cm => 'analytics/int3',
                        :target_label => 'View', :isGroundFloor => true } %>             