<h2 align="Center"> All Stores Profit/Loss Statistics</h2>


<%= render :partial => 'search_form_for_store_pl',
           :locals => { :target_cm => 'analytics/int3',
                        :target_label => 'View', :isGroundFloor => true } %>  
       