<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @insurance_company.name %>
</p>


<%= link_to 'Edit', edit_insurance_company_path(@insurance_company) %> |
<%= link_to 'Back', insurance_companies_path %>
