<h2>Listing Vehicle Service Visits</h2>

<P>
<b>Service Visits for Vehicle:</b>
<%= @vehicle.ymmpText %>
</P>

<%= render :partial => 'gflist' %>

<br />

<form action="/service_visits/gfnew0" style="display: inline;">
  <input type="submit" value="Add New Service Visit"> 
</form>
&nbsp; &nbsp; 
<%= link_to 'Back to Ground Floor', '/top/gf' %>
