<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @engine_displacement.name %>
</p>


<%= link_to 'Edit', edit_engine_displacement_path(@engine_displacement) %> |
<%= link_to 'Back', engine_displacements_path %>
