<h2>Search for customer for Service Visit</h2>

<P><B>Fill in whatever values you would like to search on:</B></P>

<%= render :partial => 'search_form',
           :locals => { :target_cm => 'customers/searched' } %>

<%= link_to 'Back to Vehicle Selection methods', '/service_visits/gfnew0' %>
&nbsp; | &nbsp;
<%= link_to 'Back to Ground Floor', '/top/gf' %>
