<p>Thank you for signing up.  You will receive a confirmation email
with a link that you will need to click (or paste into your browser
URL) to complete the registration process.  You will not be able
to log in or use the system until you confirm your email using
the link you have been sent.</p>

<P>
<B><a href="/">Return to home page</a></B>
</P>
