<h2>Listing Part Manufacturers</h2>

<table>
  <tr>
    <th>Name</th>
    <th><i>Actions</i></th>
  </tr>

<% @part_manufacturers.each do |part_manufacturer| %>
  <tr>
    <td><%= part_manufacturer.name %></td>
    <td><%= link_to 'Edit', 
                    "/part_manufacturers/#{part_manufacturer.id}/gfedit" %></td>
  </tr>
<% end %>
</table>

<br />

<form action="/part_manufacturers/gfnew" style="display: inline;">
  <input type="submit" value="Add New Part Manufacturer"> 
</form>
&nbsp; &nbsp; 
<%= link_to 'Back to Ground Floor', '/top/gf' %>
