<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @part_manufacturer.name %>
</p>


<%= link_to 'Edit', edit_part_manufacturer_path(@part_manufacturer) %> |
<%= link_to 'Back', part_manufacturers_path %>
