<h2>Search for vehicle</h2>

<P><B>Fill in whatever values you would like to search on:</B></P>

<%= render :partial => 'search_form',
           :locals => { :target_cm => 'analytics/int1',
                        :target_label => 'View', :isGroundFloor => true } %>
                        

<a href="/top/analytics">Analytics (1.0)</a>
