<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @service_schedule.image_id %>
</p>


<%= link_to 'Edit', edit_service_schedule_path(@service_schedule) %> |
<%= link_to 'Back', service_schedules_path %>
