<p id="notice"><%= notice %></p>

<p>
  <b>User text:</b>
  <%= @written_testimony.user_text %>
</p>


<%= link_to 'Edit', edit_written_testimony_path(@written_testimony) %> |
<%= link_to 'Back', written_testimonies_path %>
