<h1>Listing cylinder_compressions</h1>

<table>
  <tr>
    <th>Qualification</th>
    <th>Cyl num</th>
    <th>Psi</th>
    <th></th>
  </tr>

<% @cylinder_compressions.each do |cylinder_compression| %>
  <tr>
    <td><%= cylinder_compression.qualification_id %></td>
    <td><%= cylinder_compression.cyl_num %></td>
    <td><%= cylinder_compression.psi %></td>
    <td><%= link_to 'Edit', edit_cylinder_compression_path(cylinder_compression) %></td>
  </tr>
<% end %>
</table>

<br />

Do not use.  This is loaded by Qualifications.
&nbsp; | &nbsp; <a href="/top/db">All DB tables</a>
