<% cu = current_user %>
<% unless defined?(showSignIn) %>
  <% showSignIn = false %>
<% end %>

<table width="100%" border="0" class="navtab"><tr>
<td class="navtab" valign="middle">
  <%= image_tag("gen/logo0515tr120.png") %> &nbsp;
</td>
<td class="navtab" valign="middle">
  <font color="#000080">
   <B><I>FUTURETECH</I></B>
   &nbsp; <B>|</B> &nbsp;

  <% if cu.nil? %>
    <i>(Not signed in)</i>
    <% if defined?(showSignIn) and showSignIn %>
	&nbsp; <B>|</B> &nbsp;
	<a href="/users/sign_in">Sign In</a>
    <% end %>
    &nbsp; <B>|</B> &nbsp;
    <a href="/">Home</a>
  <% else %>
    Signed in as <%=h cu.first_name %> <%=h cu.last_name %>
    <% if cu.role.nil? %>
      <i>(User has no role)</i>
      &nbsp; <B>|</B> &nbsp;
      <a href="/">Home</a>
    <% else %>

      (<%= cu.roleText %>)
      &nbsp; <B>|</B> &nbsp;
      <a href="/">Home</a>
      <% if cu.role == User::ROLE_ADMIN %>
        &nbsp; <B>|</B> &nbsp;
	<a href="/users">Users</a>
      <% end %>
      <% if cu.role == User::ROLE_ADMIN %>
        &nbsp; <B>|</B> &nbsp;
	<a href="/top/gf">Ground Floor</a>
      <% end %>
      <% if cu.role == User::ROLE_ADMIN or cu.role == User::ROLE_MOCKER %>
        &nbsp; <B>|</B> &nbsp;
	<a href="/mockup/internal_veh">Analytics (Mockup)</a>
      <% end %>
      <% if cu.role == User::ROLE_ADMIN %>
        &nbsp; <B>|</B> &nbsp;
	<a href="/top/analytics">Analytics (1.0)</a>
      <% end %>

    <% end %>
    &nbsp; <B>|</B> &nbsp; <a href="/logout">Sign Out</a>
  <% end %>
  </font>

</td>
</tr></table>
